* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  background-color: #222;
  color: #fff;
  height: 100vh;
  font-family: sans-serif;
}

.log-item {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-gap: 8px;
  align-items: center;
  padding: 8px 0;
  word-break: break-word;
}

.log-filename {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.message {
  background-color: #f2f7f7;
  color: #031f00;
  cursor: pointer;
  border-radius: 1em;
  padding: .5em;
  font-family: sans-serif;
  margin-bottom: 0.5em; /* Added space between messages */
}

.wrapper {
  display: flex;
  height: 100%;
  overflow: hidden;
}
.container pre {
  white-space: pre-wrap;
}

.container {
  background-color: #333;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 640px;
  margin: 0 auto;
  border-radius: 1em;
  overflow: hidden;
}


.history {
  flex-grow: 1;
  overflow-y: auto;
  padding-bottom: 5rem;
  overflow-wrap: break-word;
  padding: 1em; /* Added padding */
}

.history::-webkit-scrollbar {
  width: 10px; /* Adjust the width of the scrollbar */
}

.history::-webkit-scrollbar-track {
  background-color: #444; /* Background color of the scrollbar track */
}

.history::-webkit-scrollbar-thumb {
  background-color: #777; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Optional: Add border-radius to the scrollbar thumb */
}

.history::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the scrollbar thumb when hovered */
}


.conversation-logs {
  background-color: #333;
  padding: 1em;
  border-radius: 0 1em 1em 0;
  min-width: 200px;
  max-width: calc(100% - 200px);
  flex-shrink: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-y: auto;
}

.conversation-logs::-webkit-scrollbar {
  width: 10px;
}

.conversation-logs::-webkit-scrollbar-track {
  background-color: #444;
}

.conversation-logs::-webkit-scrollbar-thumb {
  background-color: #777;
  border-radius: 5px;
}

.conversation-logs::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

#contextwindow {
  flex-direction: row;
  justify-content: space-between;
  background-color: #333;
  border: 1;
  border-radius: 1em 0 0 1em;
  font-size: 1rem;
  padding: 0.8em;
  color: #fff;
  outline: none;
}

.log-delete-btn {
  background-color: #efefef;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 0;
}


.log-delete-btn img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  width: 24px;
  height: 12px;
}

.log-delete-btn:hover {
  color: #f44336;
}


#contextbox {
  background-color: #c4c4c4;
  border: 1;
  height: 10em;
  border-radius: 1em 1em 1em 0;
  font-size: 1rem;
  padding: 0.8em;
  outline: none;
  font-family: sans-serif;
  resize: none;
}

#chatform {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#chatbox {
  flex: 3;
  background-color: #c4c4c4;
  border: 1;
  font-size: 1rem;
  padding: 0.8em;
  color: #031f00;
  outline: none;
  font-family: sans-serif;
  resize: none;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#stopButton {
  flex: 2;
  background-color: #c47f29;
  color: #fff;
  border: 0;
  cursor: pointer;
  outline: none;
}

.edit-btn-container {
    position: relative;
}


.btn {
  flex: 2;
  background-color: #5e39bd;
  color: #fff;
  border: 0;
  cursor: pointer;
  outline: none;
}

.btn:hover,
.btn:focus {
  background-color: #3974bd;
}

#stopButton:hover,
#stopButton:focus {
  background-color: #bd2839;
}
